html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3c4043;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.6em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  position: fixed;
  background-color: #f2f2f2;
  color: #70757a;
  border-top: 1px solid #dadce0;
  padding: 1.2em 2em;
  bottom: 0;
}

.nav-left {
  grid-column: 1/2;
  text-align: left;
}

.nav-right {
  grid-column: 2/3;
  text-align: right;
}

.footer-left {
  grid-column: 1/2;
  text-align: left;
}

.footer-center {
  grid-column: 2/3;
  text-align: center;
}

.footer-right {
  grid-column: 3/4;
  text-align: right;
}

.nav-link {
  text-decoration: none;
  margin: 0.5em;
}

.footer-link {
  text-decoration: none;
  margin: 0.75em;
  font-size: 14px;
}

.main-elements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  padding-top: 125px;
  width: 100%;
  max-width: 80%;
  margin: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.row1 {
  grid-row: 1/2;
}

.row2 {
  grid-row: 2/3;
  width: 100%;
}

#search-bar-wrapper {
  margin: 1em auto 2em auto;
  max-width: 650px;
}

#search-bar-wrapper input {
  width: 100%;
  border: 1px #ddd solid;
  border-radius: 25px;
  padding: 1.3em;
}

input:focus {
  outline: none;
}

.submit-buttons {
  margin: auto;
  text-align: center;
  padding: 0 16px;
  margin: 11px 4px;
}

.search-button {
  font-family: arial, sans-serif;
  font-size: 14px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  padding: 0.75em 1.25em;
}

.search-button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}
