/* Sitewide Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #3c4043;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Utilities */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Formatting and Style */

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.6em 1em 2em 1em;
}

.nav-link {
  margin: 0.5em;
}

.main-elements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  padding-top: 125px;
  width: 100%;
  max-width: 584px;
  margin: auto;
  transition: all 0.4s ease;
}

.row1 {
  grid-row: 1/2;
}

.google-logo {
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
  transition: width 0.4s;
}

.row2 {
  grid-row: 2/3;
  width: 100%;
}

.search-bar-wrapper {
  margin: 1em auto 2em auto;
  max-width: 650px;
}

.search-bar {
  text-indent: 30px;
  font-size: 17px;
  width: 100%;
  padding: 0.7em;
  border: 1px #ddd solid;
  border-radius: 25px;
}

.search-bar:focus {
  outline: none;
}

.magnifying-glass {
  display: block;
  font-size: 13px;
  color: #9aa0a6;
  position: absolute;
  width: 1.6em;
  margin-top: 1em;
  margin-left: 1em;
}

.submit-buttons {
  margin: auto;
  padding: 0 16px;
  margin: 11px 4px;
}

.search-button {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  padding: 0.75em 1.25em;
}

.search-button:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  color: #70757a;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.2em 2em;
  border-top: 1px solid #dadce0;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-link {
  font-size: 14px;
  margin: 0.75em;
}

@media screen and (max-height: 775px) {
  .main-elements {
    transform: translateY(-50px);
  }
}

@media screen and (max-height: 540px) {
  .main-elements {
    padding-top: 25px;
    transform: translateY(-50px);
  }

  .google-logo {
    width: 75%;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }

  .footer-center {
    flex: 1;
    order: 1;
    margin-bottom: 1em;
  }

  .footer-right {
    flex: 1;
    order: 2;
    text-align: center;
    margin: 1em;
  }

  .footer-left {
    flex: 1;
    order: 3;
    text-align: center;
    margin-top: 1em;
  }
}
